APP_ENV= # production | dev
PORT=
DBUSER=
DBPASS=
DBHOST=
DBPORT=
DBNAME=
DBNAME_TEST=
DOMAIN=
ADMIN_PASS=
KEY=
IMG_PATH=
IMG_URL_PREFIX=
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_REDIRECT_URL=
FRONTEND_URL=

# Email
SMTP_HOST=
SMTP_PORT=
SMTP_USER=
SMTP_PASS=