anonchihaya.co.uk, www.anonchihaya.co.uk, zhouzhouzhang.co.uk, www.zhouzhouzhang.co.uk {
    encode gzip zstd

    @api path /api*
    handle @api {
           reverse_proxy localhost:8080
    }

    handle_path /image/* {
        root * /var/www/images/anoweb
        file_server
    }

    @spa not path /api* /image/*
    handle @spa {
        root * /var/www/anoweb
        try_files {path} {path}/index.html /index.html
        file_server
    }
}