www.zhouzhouzhang.co.uk, anonchihaya.co.uk, www.anonchihaya.co.uk {
    redir https://zhouzhouzhang.co.uk{uri} permanent
}

zhouzhouzhang.co.uk {
    encode gzip zstd

    @api path /api*
    handle @api {
           reverse_proxy localhost:8080
    }

    handle_path /image/* {
        root * /var/www/images/anoweb
        header Cache-Control "public, max-age=31536000, immutable"
        file_server
    }

    @spa not path /api* /image/*
    handle @spa {
        root * /var/www/anoweb
        try_files {path} {path}/index.html /index.html
        file_server
    }
}